<nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #57c4a7;">
    <a class="navbar-brand" href="#">EX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="index">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="newOrder">New Customer Order</a>
          <a class="nav-item nav-link active" href="customers">Customer Maintenance</a>
          <a class="nav-item nav-link" href="customerOrders">Customer Order Maintenance</a>
          <a class="nav-item nav-link" href="customerOrderItems">Order Items Maintenance</a>
          <a class="nav-item nav-link" href="employees">Employee Maintenance</a>
          <a class="nav-item nav-link" href="products">Product Maintenance</a>
      </div>
    </div>
  </nav>
  
  <div class="container-fluid" id="subscribe-container">
    <h2>Customers</h2>
    <br/ >
    <p>List of ElectroniX's customers</p>
	<div>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button> <!--- Pair with Modal --->
		</br>
		</br>
		<table class="table table-striped" id="mytable">
		  <thead>
			<tr>
			  <th>Customer ID</th>
			  <th>First Name</th>
			  <th>Last Name</th>
			  <th>Email Address</th>
			  <th>Phone Number</th>
			  <th>Street Address</th>
			  <th>City</th>
			  <th>State</th>
			  <th>Zip</th>
			</tr>
		  </thead>
		  <tbody>
			{{#each results}}
			<tr>
			  <th>{{ customer_id }}</th>
			  <th>{{ customer_firstname }}</th>
			  <th>{{ customer_lastname }}</th>
			  <th>{{ email_addr }}</th>
			  <th>{{ phone_nr }}</th>
			  <th>{{ street_addr }}</th>
			  <th>{{ city_name }}</th>
			  <th>{{ state_cd }}</th>
			  <th>{{ zip_cd }}</th>
			</tr>
			{{/each}}
		  </tbody>
		</table>
	</div>
	</div>
	
	      <!-- Modal Add Customers-->
      <form id="addcustomers" action="/customers/post" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
          		<div class="form-group">
          		<input type="text" class="form-control" placeholder="First Name" name="firstNameInput" id="firstNameInput">
         		</div>
          		<div class="form-group">
          		<input type="text" class="form-control" placeholder="Last Name" name="lastNameInput" id="lastNameInput">
          		</div>
          		<div class="form-group">
         		 <input type="text" class="form-control" placeholder="Email Address" name="emailAddressInput" id="emailAddressInput">
          		</div>
         		 <div class="form-group">
         		 <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumberInput" id="phoneNumberInput">
         	    </div>
         	     <div class="form-group">
         		 <input type="text" class="form-control" placeholder="Street Address" name="streetAddress1Input" id="streetAddress1Input">
         	    </div>
         	      <div class="form-group">
         		 <input type="text" class="form-control" placeholder="City" name="cityInput" id="cityInput">
         	    </div>
         	      <div class="form-group">
         		 <input type="text" class="form-control" placeholder="State" name="stateInput" id="stateInput">
         	    </div>
         	      <div class="form-group">
         		 <input type="text" class="form-control" placeholder="Zip" name="zipInput" id="zipInput">
         	    </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="mailListSubmit">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>