<nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #57c4a7;">
    <a class="navbar-brand" href="#">EX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="index">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="newOrder">New Customer Order</a>
          <a class="nav-item nav-link" href="customers">Customer Maintenance</a>
          <a class="nav-item nav-link" href="customerOrders">Customer Order Maintenance</a>
          <a class="nav-item nav-link" href="customerOrderItems">Order Items Maintenance</a>
          <a class="nav-item nav-link" href="employees">Employee Maintenance</a>
          <a class="nav-item nav-link" href="products">Product Maintenance</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid" id="subscribe-container">
    <h2>New Customer Order</h2>
    <br/ >
  <form action="/newOrder/post" method="post" id="order_form">
    <p>Input the Order Date, Employee ID, Customer ID and Payment Method</p>
  <div class="form-row">
    <div class="form-group col-sm">
      <input type="date" class="form-control" name="order_date" id="inputOrderDate" placeholder="Order Date: YYYY-MM-DD">
    </div>
    <div class="form-group col-sm">
    <select name="employee_id" id="inputEmployeeId" class="form-control">
    	<optgroup label="Employee Name">
        {{#each employees}}
        <option value="{{employee_id}}">{{employee_name}}</option>
        {{/each}}
        </optgroup>
    </select>
    </div>
    <div class="form-group col-sm">
    <select name="customer_id" id="inputCustomerId" class="form-control">
    	<optgroup label="Customer Name">
        {{#each customers}}
        <option value="{{customer_id}}">{{name}}</option>
        {{/each}}
        </optgroup>
    </select>
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" name="payment_method" id="inputPaymentMethod" placeholder="Payment Method">
    </div>
  </div>
  <p>Input the Product(s) and Quantity Purchased</p>
  <div class="form-row">
    <strong> 1 </strong>
    <div class="form-group col-sm">
    <select name="product_id" id="inputProductID" class="form-control">
    	<optgroup label="Product (Placeholder is Default)">
        {{#each products}}
        <option value="{{product_id}}">{{product}}</option>
        {{/each}}
        </optgroup>
    </select>
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" name="sale_qty" id="inputSaleQty" placeholder="Sale Quantity">
    </div>
    <strong> 2 </strong>
    <div class="form-group col-sm">
    <select name="product_id2" id="inputProductID2" class="form-control">
    	<optgroup label="Product (Placeholder is Default)">
        {{#each products}}
        <option value="{{product_id}}">{{product}}</option>
        {{/each}}
        </optgroup>
    </select>
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" name="sale_qty2" id="inputSaleQty2" placeholder="Sale Quantity">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="mailListSubmit">Save</button>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#order_form").submit(function() {           
            if($("#inputProductID").val()=="") {             
                    $("#inputProductID").val('PLACE');         
                            }
            if($("#inputProductID2").val()=="") {             
                    $("#inputProductID2").val('PLACE');         
                            }
        });
     });
</script>